<div
	class="flex flex-col-reverse phone:flex-row items-center justify-between bg-coop-background w-full h-fit text-coop-text-paragraph font-round text-lg border-t-2 border-coop-highlight"
>
	<div class="flex items-center justify-center w-full phone:w-1/3 h-full">
		<p class="pl-2">© Cooper Werner 2025</p>
	</div>
	<div class="flex items-center justify-center w-full phone:w-1/3 h-full">
		<!-- <div class="w-0 h-28 border border-red-500 z-10 relative left-1/2 -translate-x-1/2"></div> -->
		<p>Made with</p>
		<fa-icon class="text-red-500 p-2" [icon]="faHeart"></fa-icon>
		<p>by me.</p>
	</div>
	<div class="flex items-center justify-center w-full phone:w-1/3 pr-2 pt-2 h-full">
		<a
			href="https://github.com/CooperW824"
			class="hover:text-coop-highlight transition-colors"
			target="_blank"
			aria-label="My Github Profile"
			title="My GitHub Profile"
		>
			<fa-icon class="text-lg" [icon]="faGithub" size="lg"></fa-icon>
		</a>
		<a
			href="https://www.youtube.com/@CooperWTech"
			class="hover:text-coop-highlight transition-colors"
			target="_blank"
			aria-label="My Youtube Channel"
			title="My Youtube Channel"
		>
			<fa-icon class="text-lg mx-2" [icon]="faYoutube" size="lg"></fa-icon>
		</a>
		<a
			href="https://www.linkedin.com/in/cooperwerner"
			class="hover:text-coop-highlight transition-colors"
			target="_blank"
			aria-label="My LinkedIn Profile"
			title="My LinkedIn Profile"
		>
			<fa-icon class="text-lg mr-2" [icon]="faLinkedin" size="lg"></fa-icon>
		</a>
		<a
			href="mailto:cooperwerner824@gmail.com "
			class="hover:text-coop-highlight transition-colors"
			target="_blank"
			aria-label="Email Me"
			title="Email Me"
		>
			<fa-icon class="text-lg" [icon]="faEnvelope" size="lg"></fa-icon>
		</a>
	</div>
</div>
