<div
	class="flex items-center justify-center bg-coop-background w-full h-full text-coop-text-paragraph font-round text-xs xs:text-sm phone:text-base md:text-lg flex-wrap border-t-2 border-coop-highlight"
>
	<div class="flex items-center justify-center w-1/5 phone:w-1/4">
		<p class="pl-2">© Cooper Werner 2023</p>
	</div>
	<div class="flex items-center justify-center w-1/2">
		<p>Made with</p>
		<fa-icon class="text-red-500 p-2" [icon]="faHeart"></fa-icon>
		<p>by me.</p>
	</div>
	<div class="flex items-center justify-around w-[30%] phone:w-1/4 pr-2">
		<a
			href="https://github.com/CooperW824"
			class="hover:text-coop-highlight transition-colors"
			target="_blank"
			aria-label="My Github Profile"
			title="My GitHub Profile"
		>
			<fa-icon class="text-lg" [icon]="faGithub" size="lg"></fa-icon>
		</a>
		<a
			href="https://www.youtube.com/@CooperWTech"
			class="hover:text-coop-highlight transition-colors"
			target="_blank"
			aria-label="My Youtube Channel"
			title="My Youtube Channel"
		>
			<fa-icon class="text-lg" [icon]="faYoutube" size="lg"></fa-icon>
		</a>
		<a
			href="https://www.linkedin.com/in/cooper-werner-2b2871248/"
			class="hover:text-coop-highlight transition-colors"
			target="_blank"
			aria-label="My LinkedIn Profile"
			title="My LinkedIn Profile"
		>
			<fa-icon class="text-lg" [icon]="faLinkedin" size="lg"></fa-icon>
		</a>
		<a
			href="mailto:cooperwerner824@gmail.com "
			class="hover:text-coop-highlight transition-colors"
			target="_blank"
			aria-label="Email Me"
			title="Email Me"
		>
			<fa-icon class="text-lg" [icon]="faEnvelope" size="lg"></fa-icon>
		</a>
	</div>
</div>
