<div class="flex flex-col justify-between h-screen bg-coop-background flex-grow flex-shrink">
	<coop-nav-bar class="h-16 w-full"></coop-nav-bar>

	<div
		class="flex items-center justify-center w-full bg-coop-background font-round h-fit p-4 flex-grow flex-shrink basis-auto">
		<div class="w-full 2xl:w-7/12 flex flex-col-reverse lg:flex-row items-center justify-around">
			<div
				class="w-11/12 max-w-[480px] lg:w-5/12 aspect-square border-2 border-coop-highlight rounded-lg transition-all">
				<img src="../../../assets/CooperWerner.jpg" alt="Picture of Me, Cooper Werner."
					class="rounded-lg w-full h-full" />
			</div>
			<div
				class="w-11/12 max-w-[480px] pb-4 lg:pb-0 lg:w-[480px] flex items-center text-center lg:items-start lg:text-left justify-center flex-col mx-6">
				<h2 class="text-5xl text-coop-highlight">Hiya! My Name is:</h2>
				<h1 class="text-6xl sm:text-7xl text-coop-text-header">
					Cooper Werner
				</h1>
				<p class="text-3xl text-coop-text-paragraph">
					I am a Computer Engineering undergraduate student at
					<a href="https://rpi.edu" class="text-coop-highlight underline underline-offset-4">Rensselaer
						Polytechnic Institute
					</a>
					with an interest in Embedded Software, Computer Hardware Design, Semiconductors, and Electrical
					Engineering.
					<!-- Currently I am an intern at
					<a
						href="https://techslice.com"
						class="text-coop-highlight underline underline-offset-4"
						>TechSlice</a
					>, a small software company in Baltimore, Maryland. -->
				</p>
			</div>
		</div>
	</div>
	<coop-footer class="w-full relative bottom-0 min-[500px]:fixed"></coop-footer>
</div>