<div
	class="flex flex-col items-center justify-center w-full bg-coop-background font-round h-fit min-h-[calc(100vh-8rem)] sm:min-h-[calc(100vh-26rem)] p-2"
>
	<div class="w-3/4 h-11/12 flex flex-col items-center justify-center mt-8">
		<div class="flex items-center h-10 mb-4">
			<h1 class="text-5xl mb-2 text-coop-highlight mr-2">></h1>
			<h1 class="text-4xl text-coop-text-header">This is a Header</h1>
		</div>
		<p class="text-coop-text-paragraph pb-2 indent-8">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
			cursus, leo sed sollicitudin tempor, nunc mauris porta dolor, eu
			vulputate tellus nunc non metus. Vestibulum facilisis arcu non metus
			pretium scelerisque. Duis tellus ex, fermentum et tellus vitae,
			sodales lacinia purus. Nulla tristique nulla ac nisi cursus finibus.
			Aenean pharetra nibh turpis, sit amet porttitor leo cursus nec. Sed
			non felis tempus, varius nulla eu, auctor velit. Nullam at pretium
			erat. Duis auctor ligula massa, et dapibus tortor tincidunt non.
			Duis nibh magna, euismod nec justo eu, auctor ultrices dui. Fusce
			pretium, nunc id condimentum venenatis, urna neque tincidunt odio,
			in euismod mi ligula elementum tellus. Suspendisse id pharetra
			purus, a vulputate dui. Integer hendrerit dolor eros, id euismod
			metus sollicitudin non. dfhlksdjfdjf fdslfjsd jkjsad;lk dlkfjsl;j
			kljdfkl jslkj fsj kljklg jlksdj lkfjsdlkj kjslfkjsdlk jlskdjfklj
			lksdjfkljsdlkfj lk;jsdkljflksdjflk;sj ;lkdjflksj;dlkfj slkdfklsd ;
		</p>
		<a href="https://google.com" class="link">Test</a>
	</div>
</div>
