<div
	class="h-full w-full bg-coop-background flex items-center justify-around pb-8"
>
	<a class="card" routerLink="/about">
		<div class="h-5/6 w-5/6 flex items-center justify-around">
			<fa-icon [icon]="faUser" size="5x"></fa-icon>
		</div>
		<div
			class="flex items-center justify-center w-full border-2 rounded-md border-coop-highlight h-1/6"
		>
			<h1>About Me</h1>
		</div>
	</a>
	<a class="card" routerLink="/projects">
		<div class="h-5/6 w-5/6 flex items-center justify-around">
			<fa-icon [icon]="faFileCode" size="3x"></fa-icon>
			<fa-icon [icon]="faGithub" size="3x"></fa-icon>
		</div>
		<div
			class="flex items-center justify-center w-full border-2 rounded-md border-coop-highlight h-1/6"
		>
			<h1>My Projects</h1>
		</div>
	</a>
	<a class="card" routerLink="/experience">
		<div class="h-5/6 w-5/6 flex items-center justify-around">
			<fa-icon [icon]="faCode" size="3x"></fa-icon>
			<fa-icon [icon]="faBuilding" size="3x"></fa-icon>
		</div>
		<div
			class="flex items-center justify-center w-full border-2 rounded-md border-coop-highlight h-1/6"
		>
			<h1>My Career</h1>
		</div>
	</a>
	<a class="card" routerLink="/contact">
		<div class="h-5/6 w-5/6 flex items-center justify-around">
			<fa-icon [icon]="faPhone" size="3x"></fa-icon>
			<fa-icon [icon]="faEnvelope" size="3x"></fa-icon>
		</div>
		<div
			class="flex items-center justify-center w-full border-2 rounded-md border-coop-highlight h-1/6"
		>
			<h1>Contact Me</h1>
		</div>
	</a>
</div>
