<nav
	class="w-full h-full flex items-center justify-between bg-coop-background border-b-2 border-b-coop-highlight"
>
	<div class="flex items-center justify-center w-[50px] h-full ml-4">
		<a routerLink="/">
			<img
				src="../../../assets/CWLogo.png"
				alt="Cooper Werner Logo"
				class="h-12 w-12"
				aria-label="Home"
				title="Home"
			/>
		</a>
	</div>
	<div
		class="sm:flex w-[87.5%] min-w-[64px] justify-end mr-4 h-full items-center hidden"
	>
		<a routerLink="/about" class="link"> About Me</a>
		<a routerLink="/projects" class="link"> My Projects</a>
		<a routerLink="/experience" class="link"> Work Experience</a>
		<a routerLink="/contact" class="link"> Contact Me</a>
	</div>
	<div class="sm:hidden flex items-center pr-4" id="mobileMenuButton">
		<button
			class="outline-none mobile-menu-button"
			(click)="toggleMobileMenu()"
			aria-label="Open Mobile Page Menu"
		>
			<fa-icon
				class="text-coop-text-header"
				[icon]="faList"
				size="2x"
			></fa-icon>
		</button>
	</div>
	<div
		id="mobileMenu"
		class="fixed top-0 left-0 h-screen z-10 bg-coop-background flex flex-col items-center start transition-all hidden w-full"
	>
		<div
			class="flex items-center justify-between pr-4 fixed top-0 border-b-2 border-coop-highlight w-full h-16"
			id="mobileMenuButton"
		>
			<div
				class="flex items-center justify-center w-[50px] h-full ml-4 sm:ml-0"
			>
				<img src="../../../assets/CWLogo.png" class="h-12 w-12" />
			</div>
			<button
				class="outline-none mobile-menu-button"
				(click)="toggleMobileMenu()"
				aria-label="Close Page Menu"
			>
				<fa-icon
					class="text-coop-text-header"
					[icon]="faWindowClose"
					size="2x"
				></fa-icon>
			</button>
		</div>
		<div
			class="h-full phone:h-full w-full bg-coop-background flex flex-col items-center justify-center"
		>	
		<div class=" flex items-center justify-around w-full">
			<a class="card" routerLink="/about">
				<div class="h-5/6 w-5/6 flex items-center justify-around">
					<fa-icon [icon]="faUser" size="6x"></fa-icon>
				</div>
				<div
					class="flex items-center justify-center w-full border-2 rounded-md border-coop-highlight h-1/6"
				>
					<h1>About Me</h1>
				</div>
			</a>
			<a class="card" routerLink="/projects">
				<div class="h-5/6 w-5/6 flex items-center justify-around">
					<fa-icon [icon]="faFileCode" size="3x"></fa-icon>
					<fa-icon [icon]="faGithub" size="3x"></fa-icon>
				</div>
				<div
					class="flex items-center justify-center w-full border-2 rounded-md border-coop-highlight h-1/6"
				>
					<h1>My Projects</h1>
				</div>
			</a>

		</div>

		<div class="flex items-center justify-around w-full h-1/3">
			<a class="card" routerLink="/experience">
				<div class="h-5/6 w-5/6 flex items-center justify-around">
					<fa-icon [icon]="faCode" size="3x"></fa-icon>
					<fa-icon [icon]="faBuilding" size="3x"></fa-icon>
				</div>
				<div
					class="flex items-center justify-center w-full border-2 rounded-md border-coop-highlight h-1/6"
				>
					<h1>Work Experience</h1>
				</div>
			</a>
			<a class="card" routerLink="/contact">
				<div class="h-5/6 w-5/6 flex items-center justify-around">
					<fa-icon [icon]="faPhone" size="3x"></fa-icon>
					<fa-icon [icon]="faEnvelope" size="3x"></fa-icon>
				</div>
				<div
					class="flex items-center justify-center w-full border-2 rounded-md border-coop-highlight h-1/6"
				>
					<h1>Contact Me</h1>
				</div>
			</a>
		</div>
		</div>
		<coop-footer
			class="fixed bottom-0 left-0 w-full flex flex-col h-16"
		></coop-footer>
	</div>
</nav>
