<div
	class="flex items-center justify-center w-full bg-coop-background font-round h-fit min-h-[calc(100vh-8rem)] sm:min-h-[calc(100vh-26rem)] p-4"
>
	<div class="w-full 2xl:w-7/12 flex flex-col items-center justify-center">
		<div class="w-full flex items-center flex-col justify-center mb-2">
			<h2 class="text-xl text-coop-text-paragraph">
				To describe myself briefly: I am a...
			</h2>
			<h1 class="text-3xl text-coop-highlight">
				Student. Developer. Leader.
			</h1>
		</div>

		<div
			class="w-full flex flex-col sm:flex-row items-center justify-around"
		>
			<div
				class="w-11/12 pb-4 sm:pb-0 sm:w-[480px] flex items-center text-center sm:items-start sm:text-left justify-center flex-col mx-6"
			>
				<h2 class="text-2xl text-coop-text-header text-center w-full">
					Student:
				</h2>
				<p
					class="text-base text-coop-text-paragraph indent-4 sm:indent-8 pb-2 w-full"
				>
					I am a high school Computer Science student. I have an
					unweighted GPA of 3.92/4.00, and anticpate graduating in
					2023. I have taken valuable courses for a career in STEM
					like:
				</p>
				<div class="flex items-center justify-center w-full">
					<ul
						class="text-xl text-coop-text-paragraph list-disc whitespace-nowrap"
					>
						<li>AP Calculus 1 & 2 (A)</li>
						<li>AP Computer Science A (A)</li>
						<li>Advanced Physics (A)</li>
						<li>Honors Cybersecurity (A)</li>
					</ul>
				</div>
			</div>
			<div
				class="w-11/12 pb-4 sm:pb-0 sm:w-[480px] flex items-center text-center sm:items-start sm:text-left justify-center flex-col mx-6"
			>
				<h2 class="text-2xl text-coop-text-header text-center w-full">
					Developer:
				</h2>
				<p
					class="text-base text-coop-text-paragraph indent-4 sm:indent-8 pb-2"
				>
					I have loved programming ever since I joined my local
					robotics club and realized that programming allowed me to
					make whatever I can imagine. I have acquired a diverse
					skillset from both my projects and work experience.
				</p>
				<h2 class="text-xl text-coop-text-header text-center w-full">
					Some of my skills:
				</h2>
				<div class="flex flex-col w-full items-center justify-around">
					<div
						class="flex items-center justify-between w-full phone:w-10/12 my-1"
					>
						<p
							class="bg-coop-text-paragraph py-2 rounded-md font-bold w-[75px] text-center"
						>
							Python
						</p>
						<p
							class="bg-coop-text-paragraph py-2 rounded-md font-bold w-[75px] text-center"
						>
							C/C++
						</p>
						<p
							class="bg-coop-text-paragraph py-2 rounded-md font-bold w-[75px] text-center"
						>
							JS/TS
						</p>
						<p
							class="bg-coop-text-paragraph py-2 rounded-md font-bold w-[75px] text-center"
						>
							C#
						</p>
					</div>
					<div
						class="flex items-center justify-between w-full phone:w-10/12 my-1"
					>
						<p
							class="bg-coop-text-paragraph py-2 rounded-md font-bold w-[75px] text-center"
						>
							Angular
						</p>
						<p
							class="bg-coop-text-paragraph py-2 rounded-md font-bold px-1 text-center"
						>
							TailwindCSS
						</p>
						<p
							class="bg-coop-text-paragraph py-2 rounded-md font-bold w-[75px] text-center"
						>
							Ras Pi
						</p>
						<p
							class="bg-coop-text-paragraph py-2 rounded-md font-bold w-[75px] text-center"
						>
							Arduino
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="w-10/12 flex flex-col items-center justify-center">
			<h2 class="text-2xl text-coop-text-header text-center w-full">
				Leader:
			</h2>
			<p
				class="text-base text-coop-text-paragraph indent-4 sm:indent-8 text-center"
			>
				I am an active leader in my community, I led my scout troop as
				Senior Patrol Leader for multiple terms, and earned my Eagle
				Scout in 2021. I also served a term as the president of my
				school's Hack Club, growing club membership from 8 to 24 members
				and teaching students how to code.
			</p>
		</div>
	</div>
</div>
