<div
	class="flex flex-col justify-between h-screen bg-coop-background flex-grow-0 flex-shrink basis-auto"
>
	<coop-nav-bar class="h-16 w-full"></coop-nav-bar>

	<div
		class="flex items-center justify-center w-full bg-coop-background font-round h-fit p-4 flex-shrink basis-auto"
	>
		<div class="w-full flex flex-col items-center justify-center">
			<div class="w-full flex items-center flex-col justify-center mb-2">
				<h2 class="text-xl text-coop-text-paragraph">
					To describe myself briefly: I am a...
				</h2>
				<h1 class="text-2xl phone:text-3xl text-coop-highlight">
					Student. Developer. Leader.
				</h1>
			</div>

			<div
				class="w-full flex flex-col lg:flex-row items-center lg:items-start justify-around"
			>
				<div
					class="pb-4 sm:pb-0 sm:w-[500px] flex items-center text-center sm:items-start sm:text-left justify-center flex-col mx-6 w-full"
				>
					<h2
						class="text-2xl text-coop-text-header text-center w-full"
					>
						Student:
					</h2>
					<p
						class="text-base text-coop-text-paragraph indent-4 sm:indent-8 pb-2 w-full"
					>
						I am a devoted Computer Science student at
						<a
							href="https://rpi.edu"
							class="text-coop-highlight underline underline-offset-4"
							>Rensselaer Polytechnic Institute</a>
						with a 4.0 GPA. I have taken a variety of challenging
						courses to expand my knowledge and skills. Some of my
						favorite courses include:
					</p>
					<div class="flex items-center justify-center w-full">
						<ul
							class="text-xl text-coop-text-paragraph list-disc list-inside"
						>
							<li>Foundations of CS: Intro to Discrete Mathematics</li>
							<li>Computer Organization: Designing a computer CPU from the transistor to the Linux Kernel</li>
							<li>Data Structures in C++</li>
							<li>Multi-Variable Calculus and Matrix Algebra</li>
						</ul>
					</div>
				</div>
				<div
					class="w-11/12 pb-4 lg:pb-0 sm:w-[500px] flex items-center text-center sm:items-start sm:text-left justify-center flex-col py-6 lg:py-0 px-6 border-y-2 border-coop-highlight lg:border-x-2 lg:border-y-0"
				>
					<h2
						class="text-2xl text-coop-text-header text-center w-full"
					>
						Developer:
					</h2>
					<p
						class="text-base text-coop-text-paragraph indent-4 sm:indent-8 pb-2"
					>
						I have been programming as a hobby since I was 8 years
						old, and I have been developing software professionally
						since I was 16. I have experience in a variety of
						programming languages and technologies, and I am always
						looking to learn more. I have worked on projects
						ranging from simple websites to complex data analysis
						tools. I am currently working on developing my own authentication
						service to learn more about security and web development.	
					</p>
					<h2
						class="text-xl text-coop-text-header text-center w-full"
					>
						Some of my skills:
					</h2>

					<div class="flex items-center justify-center">
						<div
							class="flex items-center justify-between w-full phone:w-10/12 my-1 flex-wrap"
						>
							<p class="skill-card">Python</p>
							<p class="skill-card">C/C++</p>
							<p class="skill-card">JS/TS</p>
							<p class="skill-card">ReactJS</p>
							<p class="skill-card">Angular</p>

							<p class="skill-card">Ras Pi</p>
							<p class="skill-card">Arduino</p>
							<p class="skill-card">AWS</p>
						</div>
					</div>
				</div>
				<div
					class="w-11/12 pb-4 sm:pb-0 sm:w-[500px] flex items-center text-center sm:items-start sm:text-left justify-center flex-col mx-6"
				>
					<h2
						class="text-2xl text-coop-text-header text-center w-full"
					>
						Leader:
					</h2>
					<p
						class="text-base text-coop-text-paragraph indent-4 sm:indent-8 text-center"
					>
						I am an active leader in my community. Currently I am serving
						as the Director of Technology for RPI's annual hackathon, HackRPI, 
						where I am leading a team of 6 developers to build a new website for the event.
						I am also the Systems and Electronics Lead for RPI Spaceflight Society, currently
						designing control systems for a bi-propellent rocket engine. Lastly,
						I am an Eagle Scout, and have planned, fundraised, and led a team of scouts to
						complete multiple service projects to benefit my community.
					</p>
				</div>
			</div>
		</div>
	</div>
	<coop-card-bar class="hidden sm:flex h-56 2xl:h-80 w-full"></coop-card-bar>
	<coop-footer class="w-full"></coop-footer>
</div>
